body{background-color: rgb(69, 69, 157);
}
.p1 {text-align: center;
}
.p1 {border-style: double;
     border-color: rgba(22, 154, 183, 0.944);
     border-width: 8px;
}
.p1 {margin-right: 25%;
    margin-left: 12%;
    padding-left: 12%;
}
#imal {margin-left: 15%;
}
.p1 {size-adjust: 10%;
}